@font-face {
  font-family: "AvenirNext-Bold";
  src: url("font/Avenir_Next/AvenirNextLTPro-Bold.otf") format("truetype");
}

@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("font/Avenir_Next/AvenirNextLTPro-Demi.otf") format("truetype");
}
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("font/Avenir_Next/AvenirNextLTPro-Medium.otf") format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("font/Avenir_Next/AvenirNextLTPro-Regular.otf") format("truetype");
}
@font-face {
  font-family: "AvenirNext-untralight";
  src: url("font/Avenir_Next/AvenirNextLTPro-UltLt.otf") format("truetype");
}

/* ================================= START MENU =================================*/
.Messenger {
  padding: 15px;
  grid-template-columns: 100px auto;
  height: 140vh;
  display: grid;
}
.menu {
  overflow: visible;
  fill: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 40px rgba(16, 27, 79, 0.2);
}
.menu .item {
  margin-bottom: -20px;
  position: relative;
}
.shape {
  width: 60.6px;
  height: 60px;
  margin-top: 15px;
  position: relative;
}
.Rectangle {
  width: 60.6px;
  height: 60px;
  position: absolute;
  left: 1.25rem;
  border-radius: 9px;
  background-color: rgba(77, 104, 193, 1);
  opacity: 0.1;
}
.menu .item a:hover .shape .Rectangle {
  background-color: #1fca74;
  opacity: 1;
}
.menu .item a:hover .textHome {
  color: #fff;
  opacity: 1;
}

.textHome {
  position: absolute;
  opacity: 0.2;
  top: 0%;
  left: 1.45em;
  white-space: nowrap;
  text-align: center;
  font-family: AvenirNext-DemiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(77, 104, 193, 1);
  padding-top: 7px;
}
.menu a:hover {
  text-decoration: none;
}

.menu .item2 {
  margin-top: 3em;
  position: relative;
}
.textItem {
  top: 70px;
  position: absolute;
  overflow: visible;
  width: 6rem;
  white-space: nowrap;
  text-align: center;
  font-family: AvenirNext-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(155, 155, 155, 1);
  margin-bottom: 10px;
}

.Icon {
  top: 1.2em;
  position: absolute;
  font-size: 12px;
  left: 2.9em;
}
#Icon {
  opacity: 0.7;
  fill: rgba(16, 27, 79, 0.51);
  width: 100px;
}

#Page_1 {
  position: absolute;
  width: 34.256px;
  height: 29.48px;
  left: 2rem;
  top: 16.609px;
  overflow: visible;
}
#Fill_1_cf {
  /* fill: rgba(255, 255, 255, 1); */
  opacity: 0.7;
  fill: rgba(16, 27, 79, 0.51);
}
.Fill_1_cf {
  overflow: visible;
  position: absolute;
  width: 34.256px;
  height: 29.48px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Fill_4 {
  fill: rgba(237, 239, 248, 1);
}
.Fill_4 {
  overflow: visible;
  position: absolute;
  width: 3.766px;
  height: 3.729px;
  left: 7.322px;
  top: 9.845px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Fill_6 {
  fill: rgba(237, 239, 248, 1);
}
.Fill_6 {
  overflow: visible;
  position: absolute;
  width: 3.766px;
  height: 3.729px;
  left: 15.245px;
  top: 9.845px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Fill_8 {
  fill: rgba(237, 239, 248, 1);
  /* fill: rgba(77, 104, 193, 1); */
}
.Fill_8 {
  overflow: visible;
  position: absolute;
  width: 3.766px;
  height: 3.729px;
  left: 23.168px;
  top: 9.845px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Oval_cm {
  opacity: 0.7;
  fill: rgba(16, 27, 79, 0.51);
}
.Oval_cm {
  position: absolute;
  overflow: visible;
  width: 34.34px;
  height: 34px;
  left: 31.546px;
  top: 13px;
}

#Page_1_co {
  position: absolute;
  width: 18.064px;
  height: 14.681px;
  left: 39.627px;
  top: 22.904px;
  overflow: visible;
}
#Fill_4_cp {
  fill: rgba(237, 239, 248, 1);
}
.Fill_4_cp {
  overflow: visible;
  position: absolute;
  width: 18.064px;
  height: 14.681px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.menu .item2 a:hover .shape .Rectangle {
  background-color: #1fca74;
  opacity: 1;
}
.menu .item2 a:hover #Icon {
  fill: #fff;
  opacity: 1;
}
.menu .item2 a:hover #Page_1 #Fill_1_cf {
  opacity: 1;
  fill: #fff;
}
.menu .item2 a:hover #Page_1 .Fill_4 #Fill_4 {
  fill: rgba(77, 104, 193, 1);
}
.menu .item2 a:hover #Page_1 .Fill_6 #Fill_6 {
  fill: rgba(77, 104, 193, 1);
}
.menu .item2 a:hover #Page_1 .Fill_8 #Fill_8 {
  fill: rgba(77, 104, 193, 1);
}

.activeShape .shape .Rectangle {
  background-color: #1fca74;
  opacity: 1;
}
.activeShape #Icon {
  fill: #fff;
  opacity: 1;
}
.activeShape #Page_1 .Fill_1_cf #Fill_1_cf {
  opacity: 1;
  fill: #fff;
}
.activeShape #Page_1 .Fill_4 #Fill_4 {
  fill: rgba(77, 104, 193, 1);
}
.activeShape #Page_1 .Fill_6 #Fill_6 {
  fill: rgba(77, 104, 193, 1);
}
.activeShape #Page_1 .Fill_8 #Fill_8 {
  fill: rgba(77, 104, 193, 1);
}
.activeShape .Oval_cm #Oval_cm {
  opacity: 1;
  fill: #fff;
}
.activeShape #Page_1_co .Fill_4_cp #Fill_4_cp {
  fill: #1fca74;
}
.activeShape .textHome {
  opacity: 1;
  color: #fff;
}
/* ================================= END MENU =================================*/

/* ================================= CONTAINER CONTENT =================================*/
.containerContent {
  grid-template-rows: auto 2em;
  display: grid;
}
.headerContent {
  background-color: rgb(4, 255, 24);
  grid-template-rows: 7% auto;
  display: grid;
} 
/* HOME PAGE */
.homePage {
  background-color: #1fca74;
  display: grid;
  grid-template-columns: auto 16em;
}
.hompageVerticalbar{
  margin: 0 20px 0 35px;
}
.hompageVerticalbar span{
  position: absolute;
   width: 1px;
  height: 40.459px;
  opacity: 0.2;
  fill: transparent;
  background-color: rgba(16,76,45,1);
  
}
.homepageImg{
 padding: 0 0.5em 0 1em;
}
.homepageText a{
  font-family: AvenirNext-Medium;
  font-size: 18px;
  color: #fff;

}
.homePage nav ul{
  position: relative;
  top: 1.3em;
  float: right;
  margin-bottom: 0px !important;
  width: 100%;
  text-align: right;
}

.homePage nav ul li a img{
  filter: drop-shadow(0px 6px 8px rgba(16, 27, 79, 0.204));
    width: 40px;
    height: 40px;
}
.homepageIcon a{
  color: #5b6075;
}
.homepageIcon{
 padding:  0 1.5em 0 2.5em;
}
.homePage nav ul li {
  display: inline;
}
.homePage nav ul li a{
  text-decoration: none;
}
/* EXPERTISE*/
.expertise
{ 
  position: relative;
  background-color: #098446;
}
.expertiseContent{
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.textYouHave{
  position: absolute;
  font-size: 12px;
  font-family: AvenirNext-Medium;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  padding-bottom: 5px;
}
.textExpertise{
  position: absolute;
  font-size: 18px;
  font-family:AvenirNext-Regular;
  color: #fff;
  top: 30%;
  opacity: 1;
}
.progress{
  position: relative;
  border-radius: 10px;
  background-color: #104c2d;
  height: 6px;
  position: relative;
  top:85%;
}
.expertiseIconRight{
position: absolute;
left: 92%;
top: 30%;
width: 10px;
margin: auto;
}
.Inner {
  background-color: rgb(255, 4, 109);
  grid-template-columns: auto 16em;
  display: grid;
}

.ChatBox {
  grid-template-rows: 4em auto;
  display: grid;
}

.header{
  background-color: #fff;
  display: flex;
}
.headerImg{
 
  padding: 1em 0.5em 0 2em;
}
.headerText{
  flex: 1.5;
  padding-top: 1em;
}
.headerIcon{
  flex: 1;
  padding-top: 1em;
}
.headerCompany{
  flex:1;
  margin-top: -0.4em;
}
.headerOffer{
  flex: 1;
  margin-top: -0.4em;
}
.headerIconClose{
  flex: 0.5;
  padding: 1em 1.5em 0 0;
  text-align: right;
}
.headerText a{
  font-size: 18px;
  font-family:AvenirNext-Regular;
  color: #101b4f;
}

.headerIcon a {
  color: rgba(16,27,79,1);
  opacity: 0.3;
  padding-right: 2em;
}

.headerImg img{
  filter: drop-shadow(0px 6px 8px rgba(16, 27, 79, 0.204));
  width: 40px;
  height: 40px;
}
.headerCompany{
  display: inline-grid;
  grid-template-rows: 50% 50%;
}
.headerCompanyText{
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #9b9b9b;
    padding-top: 1.5em;
}
 .headerOfferText{
  font-family: AvenirNext-Medium;
  font-size: 12px;
  color: #9b9b9b;
  padding-top: 1.5em;
 }
.headerCompanyInvision {
    white-space: nowrap;
    text-align: left;
    font-family: AvenirNext-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(16,27,79,1);
}
 .headerOfferAdvertising{
  white-space: nowrap;
  text-align: left;
  font-family: AvenirNext-Medium;

  font-size: 14px;
  color: rgba(16,27,79,1);
}
 .headerOffer{
  display: inline-grid;
  grid-template-rows: 50% 50%;
}

.conversation {
  background-color: coral;
}
.chatContent {
  background-color:#eef0f9;
  display: grid;
  grid-template-rows: auto 25%;
}
.chatContentText{
  
  padding: 1em 0 0 2em;
  /* display: flex;
  flex-direction: column; */
}




/* ====== */
.message {
  display: flex;
  flex-direction: column;
}
.messageTop {
  display: flex;
}
.messageImg {
  object-fit: cover;
  filter: drop-shadow(0px 6px 8px rgba(16, 27, 79, 0.204));

  width: 40px;
  height: 40px;
}
.messageText {
  padding: 10px;
  border-radius: 0px 15px 15px 15px;
  background-color: #1fca74;
  color: #fff;
  width: 350px;
  font-family: AvenirNext-Medium;
  font-size: 14px;
}
.messageBottom {
  font-style: 12px;
  margin-top: 10px;
  font-size: 14px;
    color: rgba(155,155,155,1);
}
.message.own {
  align-items: flex-end;
}
.message.own .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}


.message1 {
 

  position: relative;
    width: 700px;
    height: 141px;
  
}
.messageTop1 {
 position: relative;
 
}
.messageImg1 {
  position: relative;
  object-fit: cover;
  filter: drop-shadow(0px 6px 8px rgba(16, 27, 79, 0.204));

  width: 40px;
  height: 40px;
}
.messageText1 {
  position: absolute;
  padding: 10px;
  border-radius: 0px 15px 15px 15px;
  background-color: #1fca74;
  color: #fff;
  width: 350px;
  font-family: AvenirNext-Medium;
  font-size: 14px;
  top: 6%;
    left: 7%;
}
.messageBottom1 {
 
    position: absolute;
 
    font-size: 14px;
    color: rgba(155,155,155,1);
    top: 15%;
    left: 60%;
    width: 100px;
}
.message1.own .messageTop1 .messageImg1{
  left:93%;
  top:10%;
}
.message1.own  .messageTop1  .messageText1{
  left:41%;
  top:10%;
  background-color: #788998;
  border-radius: 15px 0px 15px 15px;
}
.message1.own  .messageTop1  .messageBottom1{
  left:31%;
  top:10%;

}
.message.own {
  align-items: flex-end;
}
.message.own .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}
/* ====== */
.footer {
  background-color: rgba(91, 96, 117, 1);
  grid-template-columns: 25% auto;
  display: grid;
}
.comboboxLaguage {
  position: relative;
  left: 22%;
  padding-top: 4px;
}
select {
  background: #5b6075;
  color: #fff;
  border: none;
  font-size: 12px;
  font-family: AvenirNext-Medium;
}
.createLink {
  position: relative;
}
.createLink nav {
  float: right;
  padding-right: 50px;
}
.createLink nav ul {
  padding-top: 4px;
}
.createLink nav ul li {
  display: inline;
}
.createLink nav ul li a {
  opacity: 0.5;
  text-decoration: none;
  font-size: 12px;
  font-family: AvenirNext-Medium;
  color: #fff;
}
.rounded-corners {
  opacity: 0.5;
  background: #fff;
  clip-path: circle(50%);
  height: 0.3em;
  width: 0.3em;
  display: inline-block;
  margin: 0px 10px 0 10px;
}
.createLink nav ul li a:hover {
  opacity: 1;
}
